@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.bg-sysconf-dark {
  background-color: #0B0D11;
}

.bg-syscong-dark-blue {
  background-color: #111827;
}

.s-border-white {
  /*border-radius: 5px;*/
  padding: 3px;
  border: 1px solid #52597D;
  outline: 2px solid #FFFFFF;
}

.s-border-dark {
  /*border-radius: 5px;*/
  padding: 3px;
  border: 1px solid #0b0d11;
  outline: 2px solid #14171e;
}

.s-border-gray {
  /*border-radius: 5px;*/
  padding: 3px;
  border: 1px solid #232323;
  outline: 2px solid #24272b;
}

.s-border-yellow {
  /*border-radius: 5px;*/
  padding: 3px;
  border: 1px solid #52597D;
  outline: 2px solid #AC6B41;
}

.s-border-green {
  /*border-radius: 5px;*/
  padding: 3px;
  border: 1px solid #52597D;
  outline: 2px solid #4ADEB2;
}

.s-border-pink {
  /*border-radius: 5px;*/
  padding: 3px;
  border: 1px solid #52597D;
  outline: 2px solid #FF6B81;
}

.has-text-primary {
  color: yellow;
}

.logo-bg-white {
  background-color: #FFFFFF;
}
